<div class="login">
    <div class="login-form-wrapper">

        <div class="login-form">
             <div class="login-form-login">
                <form action="">
                    <div class="form-row">
                        <div class="field">
                        <input type="text" class="input" placeholder="Email">
                    </div>
                        <div class="field"> 
                            <input type="text" class="input" placeholder="Password">
                        </div>
                    </div>
                    
                    <button class="button" type="login" routerLink="/dashboard">Login</button>
                    <div class="parent1">
                        <div class="child-1 c-1">
                            <label class="checkbox">
                                <input type="checkbox" name="" id="">
                                <span class="checkbox-button"></span>
                                <span class="checkbox-label">Remember me</span>
                            </label>
                        </div>
                        <div class="child-2">
                            <h5 class="title c-2">Forgot?</h5>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>