<div class="login">
    <div class="login-form-wrapper">

        <div class="login-form">
            <div class="login-form-login">
                <form>
                    <div class="form-row">
                        <div class="field">
                            <span class="icon">
                            <i class="ri-user-fill"></i>
                        </span>
                            <input type="text" class="input" placeholder="user name">
                        </div>
                        <div class="field">
                            <span class="icon">
                            <i class="ri-key-fill"></i>
                        </span>

                            <input type="text" class="input" placeholder="Password">
                        </div>
                    </div>

                    <div class="parent1">
                        <div class="child-1 c-1">
                            <label class="checkbox">
                            <input type="checkbox" name="" id="">
                            <span class="checkbox-button"></span>
                            <span class="checkbox-label">Remember me</span>
                        </label>
                        </div>
                        <div class="child-2">
                            <h5 class="title c-2">Forgot password?</h5>
                        </div>
                    </div>
                    <button class="button" type="login" routerLink="/dashboard">login</button>
                </form>
            </div>
        </div>
    </div>
</div>