<table class="table has-alternate-bg">
  <thead>
  	<tr>
  		<th>ID</th>
  		<th>Full Name</th>
  		<th>Phone</th>
  		<th>Created At</th>
  	</tr>
  </thead>
  <tbody>
  	<tr *ngFor="let c of clientList">
  		<td>{{ c.id }}</td>
  		<td>{{ c.full_name }}</td>
  		<td>{{ c.phone }}</td>
  		<td>{{ c.created_at }}</td>
  	</tr>
  </tbody>
</table>
<div style="margin-top: 1rem;">
  <div class="pagination">
    <a (click)="prevPage()" class="pagination-prev">
      <span class="icon">
        <i class="ri-arrow-left-line"></i>
      </span>
    </a>
    <a class="pagination-page">
      <span>1</span>
    </a>
    <a (click)="nextPage()" class="pagination-next">
      <span class="icon">
        <i class="ri-arrow-right-line"></i>
      </span>
    </a>
  </div>
</div>
