<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            
                <div class="dashboard-body-title-wrapper">
                    <div class="dashboard-body-title">
                        <h1>Dashboard</h1>
                        <div>
                        </div>
                    </div>
                </div>

                <div class="dashboard-content">
                    <!-- actual content goes here -->
                </div>

        </div>

    </div>
</div>

