/******************** COLORS ********************/
$white-color: #FFFFFF !default;
$black-color: #000000 !default;
$gray-900: #333333 !default;
$gray-500: #888888 !default;
$gray-400: #CCCCCC !default;
$gray-300: #F0F0F0 !default;
$gray-200: #F7F7F7 !default;
$gray-100: #F8F8F8 !default;
$blue-900: #0D25AE !default;
$blue-800: #1135FF !default;
// $blue-400: #CCCCCC !default;
// $blue-300: #F0F0F0 !default;
// $blue-200: #F7F7F7 !default;
$blue-100: #506AFF !default;
$green-900: #0ED543 !default;
$green-800: #11FF50 !default;
$green-100: #A9FDBF !default;
$red-900: #C80E0E !default;
$red-800: #FF1111 !default;
$red-100: #FF7171 !default;
$orange-900: #D77A0F !default;
$orange-800: #FF9011 !default;
$orange-100: #FFDAAF !default;
$purple-900: #13152A;

$primary-color: #9146ff !default;

$button-height: 2.75rem !default;
$button-space-x: 1.5rem !default;

$radius: .25rem !default;

$font-stack: Inter, sans-serif;
/******************** SCREEN SIZES ********************/
$tablet-screen-width: 768px;
$desktop-screen-width: 1024px;
