<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
        <div class="dashboard-body-title-wrapper">
          <div class="dashboard-body-title">
            <h1>Project Team</h1>
            <div>
              <a (click)="navigateBack()" class="button is-primary">Back</a>
              <a href="#" class="button is-primary">Tree</a>
              <a  *ngIf="authService.isAdmin()" routerLink="/project/team/build" [queryParams]="{project_id: project_id}" class="button is-primary">Build Team</a>
            </div>
          </div>
        </div>

        <div class="dashboard-content">
        	<app-users-index [userList]="users"></app-users-index>
          <app-message></app-message>
        </div>
      </div>

    </div>
</div>
