<table class="table has-alternate-bg">
    <thead>
      <tr>
        <th>ID</th>
        <th>Project</th>
        <th>User</th>
        <th>Phone</th>
        <th>Amount (&#x20B9;)</th>
        <th>Paid at</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of paymentList">
        <td><a routerLink="{{ '/payment/'+ p.id +'/show' }}">{{ p.id }}</a></td>
        <td><a routerLink="{{ '/project/' + p.project.id + '/show' }}">{{ p.project.title }}</a></td>
        <td><a routerLink="{{ '/user/' + p.user.id + '/show' }}">{{ p.user.first_name + " " + p.user.last_name }}</a></td>
        <td>{{ p.user.phone }}</td>
        <td>{{ p.amount }}</td>
        <td>{{ p.created_at }}</td>
      </tr>
    </tbody>
</table>
<div style="margin-top: 1rem;">
  <div class="pagination">
    <a (click)="prevPage()" class="pagination-prev">
      <span class="icon">
        <i class="ri-arrow-left-line"></i>
      </span>
    </a>
    <a class="pagination-page">
      <span>{{ page }}</span>
    </a>
    <a (click)="nextPage()" class="pagination-next">
      <span class="icon">
        <i class="ri-arrow-right-line"></i>
      </span>
    </a>
  </div>
</div>

