<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>User</h1>
                    <div>
                        <a routerLink="/user/add" class="button is-primary">New user</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">

              <table class="table has-alternate-bg">
                <tbody>
                  <tr>
                    <th>ID</th>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>Avatar</th>
                    <td><img src="" alt=""></td>
                  </tr>
                  <tr>
                    <th>Full Name</th>
                    <td>Test</td>
                  </tr>
                  <tr>
                    <th>Gender</th>
                    <td>M</td>
                  </tr>
                  <tr>
                    <th>Mobile Number</th>
                    <td>100000000</td>
                  </tr>
                  <tr>
                    <th>Email Address</th>
                    <td>hghjfhjfjfjh</td>
                  </tr>
                  <tr>
                    <th>Created at</th>
                    <td>22.04.2021</td>
                  </tr>
                </tbody>
              </table>
                <div class="project-show">
                  <div class="project-title">
                    <h1>Project</h1>
                  <div>
                    <a routerLink="/project/add" class="button is-primary">New</a>
                  </div>
                  </div>
                  <table class="table has-alternate-bg">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Revenue</th>
                        <th>Tax</th>
                        <th>Net Revenue</th>
                        <th>Commission Amount</th>
                        <th>Paid Amount</th>
                        <th>Client</th>
                        <th>Created At</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>8990900012</td>
                        <td>May 12, 2021</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>User</td>
                        <td>8990900012</td>
                        <td>May 12, 2021</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>User</td>
                        <td>8990900012</td>
                        <td>May 12, 2021</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>User</td>
                        <td>8990900012</td>
                        <td>May 12, 2021</td>
                      </tr><tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                        <td>User</td>
                        <td>8990900012</td>
                        <td>May 12, 2021</td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <div class="pagination is-fullwidth">
                      <a href="" class="pagination-prev">
                        <span class="icon">
                          <i class="ri-arrow-left-line"></i>
                        </span>
                      </a>
                      <a href="" class="pagination-next">
                        <span class="icon">
                          <i class="ri-arrow-right-line"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>


                <div class="payment-show">
                  <div class="payment-title">
                    <h1>Payment</h1>
                  <div>
                    <a routerLink="/payment/add" class="button is-primary">New</a>
                  </div>
                  </div>
                  <table class="table has-alternate-bg">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Project</th>
                        <th>User</th>
                        <th>Created At</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>1200</td>
                        <td>1st project</td>
                        <td>Test User</td>
                        <td>May 12, 2021</td>
                        <td></td>
                      </tr><tr>
                        <td>1</td>
                        <td>1200</td>
                        <td>1st project</td>
                        <td>Test User</td>
                        <td>May 12, 2021</td>
                        <td></td>
                      </tr><tr>
                        <td>1</td>
                        <td>1200</td>
                        <td>1st project</td>
                        <td>Test User</td>
                        <td>May 12, 2021</td>
                        <td></td>
                      </tr><tr>
                        <td>1</td>
                        <td>1200</td>
                        <td>1st project</td>
                        <td>Test User</td>
                        <td>May 12, 2021</td>
                        <td></td>
                      </tr><tr>
                        <td>1</td>
                        <td>1200</td>
                        <td>1st project</td>
                        <td>Test User</td>
                        <td>May 12, 2021</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <div class="pagination is-fullwidth">
                      <a href="" class="pagination-prev">
                        <span class="icon">
                          <i class="ri-arrow-left-line"></i>
                        </span>
                      </a>
                      <a href="" class="pagination-next">
                        <span class="icon">
                          <i class="ri-arrow-right-line"></i>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>