<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>User</h1>
                    <div>
                        <a routerLink="/user/add" class="button is-primary">New user</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">

                <app-user-single [user]="user"></app-user-single>
                
                <div class="project-show">
                  <div class="project-title">
                    <h1>Projects</h1>
                    <div>
                      <a routerLink="/project/add" class="button is-primary">New</a>
                    </div>
                  </div>
                
                  <app-project-index *ngIf="projects.length; else elseBlock" [projectList]="projects"></app-project-index>
                  <ng-template #elseBlock>User did not worked on any project yet.</ng-template>

                </div>


                <div class="payment-show">
                  <div class="payment-title">
                    <h1>Payments</h1>
                  <div>
                    <a routerLink="/payment/add" class="button is-primary">New</a>
                  </div>
                  </div>

                  <app-payment-index *ngIf="payments.length; else elseBlock" [paymentList]="payments"></app-payment-index>
                  <ng-template #elseBlock>User did not get any payment yet</ng-template>
                
                </div>
            </div>

            <app-message></app-message>
        </div>

    </div>
</div>