<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>Projects</h1>
                    <div *ngIf="authService.isAdmin()" style="display: flex; align-items: center">
                        <div style="margin-right: 1rem;">
                            <input [(ngModel)]="project_q" (input)="searchProject()" type="text" class="input" placeholder="Search...">
                        </div>
                        <div>
                            <a routerLink="/project/add" class="button is-primary">New Project</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="dashboard-content">

              <app-project-index [projectList]="projects"></app-project-index>

            </div>
        </div>

    </div>
</div>
