<div class="dashboard-sidebar">
    <div class="dashboard-brand">
        <img src="" alt="" class="logo">
    </div>
    <div class="dashboard-menu">
        <a class="dashboard-menu-item" routerLink="/dashboard">
            <span class="icon">
      <i class="ri-dashboard-3-line"></i>    
    </span>
            <span>Dashboard</span>
        </a>
        <a class="dashboard-menu-item" routerLink="/users">
            <span class="icon">
      <i class="ri-folder-user-fill"></i>
    </span>
            <span>Users</span>
        </a>
        <a class="dashboard-menu-item">
            <span class="icon">
      <i class="ri-folder-shield-fill"></i>
    </span>
            <span>Projects</span>
        </a>
    </div>
</div>