<div class="dashboard">
	<app-sidebar></app-sidebar>
	<div class="dashboard-main">
		<app-header></app-header>
		<div class="dashboard-body">
			<div class="dashboard-body-title-wrapper">
				<div class="dashboard-body-title">
					<h1>Payment</h1>
					<div>
						<a routerLink="/payment/add" class="button is-primary">New Payment</a>
					</div>
				</div>
			</div>

			<div class="dashboard-content">


				<table class="table has-alternate-bg">
					<tbody>
						<tr>
							<th>ID</th>
							<td>1</td>
						</tr>
						<tr>
							<th>Project</th>
							<td>Project title</td>
						</tr>
						<tr>
							<th>Amount</th>
							<td>2,00,000</td>
						</tr>
						<tr>
							<th>User</th>
							<td>100000000</td>
						</tr>
						<tr>
							<th>Paid at</th>
							<td>22.04.2021</td>
						</tr>
					</tbody>
				</table>

				<div class="project-show">
					<div class="project-title">
						<h1>Project</h1>
						<div>
							<a routerLink="/project/add" class="button is-primary">New project</a>
						</div>
					</div>
					
					<app-project-single *ngIf="project; else elseBlock" [project]="project"></app-project-single>
					<ng-template #elseBlock>No project found</ng-template>

				</div>


				<div class="project-show">
					<div class="project-title">
						<h1>User</h1>
						<div>
							<a routerLink="/user/add" class="button is-primary">New user</a>
						</div>
					</div>

					<app-user-single *ngIf="user; else elseBlock" [user]="user"></app-user-single>
					<ng-template #elseBlock>No user found</ng-template>

					<div>
						<div class="pagination is-fullwidth">
							<a href="" class="pagination-prev">
								<span class="icon">
									<i class="ri-arrow-left-line"></i>
								</span>
							</a>
							<a href="" class="pagination-next">
								<span class="icon">
									<i class="ri-arrow-right-line"></i>
								</span>
							</a>
						</div>
					</div>
				</div>

				<app-message></app-message>

			</div>
		</div>

	</div>
</div>
