<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
        <div class="dashboard-body-title-wrapper">
          <div class="dashboard-body-title">
            <h1>Project Show</h1>
            <div>
              <a routerLink="/projects" class="button is-primary">Back</a>
              <a href="#" class="button is-primary">Tree</a>
              <a routerLink="{{'/project/'+ project_id +'/team'}}" class="button is-primary">Team</a>
              <a routerLink="/project/team/build" [queryParams]="{project_id: project_id}" class="button is-primary">Build Team</a>
            </div>
          </div>
        </div>

        <div class="dashboard-content">
          
          <app-project-single [project]="project"></app-project-single>
          
          <div class="payment-show">
            <div class="payment-title">
              <h1>Payments</h1>
              <div>
                <a href="" class="button is-primary">New</a>
              </div>
            </div>
            <app-payment-index *ngIf="payments.length; else elseBlock" [paymentList]="payments"> </app-payment-index>
            <ng-template #elseBlock>No payment made yet.</ng-template>
          </div>
        </div>
      </div>

    </div>
</div>
