<table class="table has-alternate-bg">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>Project Name</th>
	    <th>Client</th>
	    <th>Revenue (&#x20B9;)</th>
	    <th>Tax (&#x20B9;)</th>
	    <th>Net Revenue (&#x20B9;)</th>
	    <th>Commission (&#x20B9;)</th>
	    <th>Comm. Paid (&#x20B9;)</th>
	    <th>Created At</th>
	    <th *ngIf="authService.isAdmin()"></th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let p of projectList">
	    <td><a routerLink="{{ '/project/'+ p.id +'/show' }}">{{ p.id }}</a></td>
	    <td>{{ p.title }}</td>
	    <td><a routerLink="{{ '/clients' }}">{{ p.client_id }}</a></td>
	    <td>{{ p.revenue }}</td>
	    <td>{{ p.tax }}</td>
	    <td>{{ p.net_revenue }}</td>
	    <td>{{ p.commission_amount }}</td>
	    <td>{{ p.paid_amount }}</td>
	    <td>{{ p.created_at }}</td>
	    <td *ngIf="authService.isAdmin()"><a routerLink="{{ '/project/'+ p.id +'/edit' }}">Edit</a></td>
	  </tr>
	</tbody>
	</table>
	<div style="margin-top: 1rem;">
	<div class="pagination">
	  <a (click)="prevPage()" class="pagination-prev">
	    <span class="icon">
	      <i class="ri-arrow-left-line"></i>
	    </span>
	  </a>
	  <a class="pagination-page">
	    <span>{{ page }}</span>
	  </a>
	  <a (click)="nextPage()" class="pagination-next">
	    <span class="icon">
	      <i class="ri-arrow-right-line"></i>
	    </span>
	  </a>
	</div>
</div>