<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>Payments</h1>
                    <div>
                        <a routerLink="/payment/add" class="button is-primary">New Payment</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">

                <app-payment-index *ngIf="payments.length; else elseBlock" [paymentList]="payments"></app-payment-index>
                <ng-template #elseBlock>No payment made yet</ng-template>
            
            </div>
        </div>

    </div>
</div>
