<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>Payments</h1>
                    <div>
                        <a routerLink="/payment/add" class="button is-primary">New Payment</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">

                <table *ngIf="payments.length; else elseBlock" class="table has-alternate-bg">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Project</th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Paid at</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of payments">
                        <td><a routerLink="{{ '/payment/'+ p.id +'/show' }}">{{ p.id }}</a></td>
                        <td>{{ p.id }}</td>
                        <td>{{ p.project_id }}</td>
                        <td>{{ p.user_id }}</td>
                        <td>{{ p.amount }}</td>
                        <td>{{ p.created_at }}</td>
                      </tr>
                    </tbody>
                </table>
                <div #elseBlock>No payment made yet</div>
            
            </div>
        </div>

    </div>
</div>
