<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>Edit user</h1>
                    <div>
                        <a routerLink="/users" class="button is-primary">Back</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">
                
              <div class="form">
                <div class="main-form">
                    <div class=" field">
                        <label class="label">First Name</label>
                        <input [(ngModel)]="user.first_name" class="input" type="text" placeholder="First Name">
                    </div>
                    <div class=" field">
                        <label class="label">Last Name</label>
                        <input [(ngModel)]="user.last_name" class="input" type="text" placeholder="Last Name">
                    </div>
                    <div class=" field">
                        <label class="label">Gender</label><br>
                        <select name="gender" [(ngModel)]="user.gender">
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class=" field">
                        <label class="label">Phone Number</label>
                        <input [(ngModel)]="user.phone" class="input" type="text" placeholder="Phone Number">
                    </div>
                    <div class=" field">
                        <label class="label">Email</label>
                        <input [(ngModel)]="user.email" class="input" type="text" placeholder="Email address">
                    </div>
                    <div class=" field">
                        <label class="label">Password</label>
                        <input [(ngModel)]="user.password" class="input" type="password" placeholder="Password">
                    </div>
                    <div class=" field">
                        <label class="label">Confirm Password</label>
                        <input [(ngModel)]="user.confirm_password" class="input" type="password" placeholder="Confirm Password">
                    </div>
                    <app-message></app-message>
                  <button (click)="update()" class="button" type="button">Update</button>
                </div>
              </div>

            
            </div>
        </div>

    </div>
</div>