<div class="dashboard">
    <app-sidebar></app-sidebar>
    <div class="dashboard-main">
        <app-header></app-header>
        <div class="dashboard-body">
            <div class="dashboard-body-title-wrapper">
                <div class="dashboard-body-title">
                    <h1>Edit user</h1>
                    <div>
                        <a routerLink="/users" class="button is-primary">Back</a>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">
                
              <div class="form">
                <div class="main-form">
                    <div class=" field">
                        <label class="label">First Name</label>
                        <input class="input" type="text" placeholder="First Name">
                    </div>
                    <div class=" field">
                        <label class="label">Last Name</label>
                        <input class="input" type="text" placeholder="Last Name">
                    </div>
                    <div class=" field">
                        <label class="label">Phone Number</label>
                        <input class="input" type="text" placeholder="Phone Number">
                    </div>
                    <div class=" field">
                        <label class="label">Password</label>
                        <input class="input" type="text" placeholder="Password ">
                    </div>
                    <div class=" field">
                        <label class="label">Confirm Password</label>
                        <input class="input" type="text" placeholder="Confirm Password ">
                    </div>
                  <button class="button" type="sign up">Create</button>
                </div>
              </div>

            
            </div>
        </div>

    </div>
</div>