.button {
	padding: 4px 16px;
	margin: 0;
	border: 0;
	font-size: 16px;
	-webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	height: 2.5em;
	text-align: center;
	cursor: pointer;
	transition: all 300ms ease-in;
	outline: 0;
	user-select: none;
	transform: scale(1);

	&.is-primary {
		background-color: #5c1de6;
		color: #fff;
	}

	&.is-rounded {
		border-radius: 1300px;
	}

	&.is-primary:hover {
		background-color: #8456ea;
	}

	&:active {
		transform: scale(.8);
	}

	&[disabled="disabled"] {
		opacity: .5;
		/*pointer-events: none;*/
		cursor: not-allowed;
	}

}

.button{
	align-items: center;
	padding: 12px;
    appearance: none;
	-webkit-appearance: none;
	width: 100%;
	background:#9146ff;
    margin-top: 30px;
	border: none;
	font-weight: 600;
	border-radius: 2px;
	color:white;
}