<div class="dashboard">
	<app-sidebar></app-sidebar>
	<div class="dashboard-main">
		<app-header></app-header>
		<div class="dashboard-body">
			<div class="dashboard-body-title-wrapper">
				<div class="dashboard-body-title">
					<h1>Create Payment</h1>
					<div>
						<a routerLink="/payments" class="button is-primary">Back</a>
					</div>
				</div>
			</div>

			<div class="dashboard-content">

				<div class="row">
					<div class="col-1">
						<div class="field">
							<label class="label">Search project</label>
							<input [(ngModel)]="project_q" (input)="searchProject()" class="input" type="text" placeholder="Search project">
						</div>
						<table *ngIf="projectsSearchResult.length; else elseBlock" class="table has-alternate-bg">
							<thead>
								<tr>
									<th>ID</th>
									<th>Projrct Name</th>
									<th>Client</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let p of projectsSearchResult; let i=index">
									<td>{{ p.id }}</td>
									<td>{{ p.title }}</td>
									<td>{{ p.created_at }}</td>
									<td><button (click)="selectProject(i)" class="button" type="button">Select</button></td>
								</tr>
							</tbody>
						</table>
						<ng-template #elseBlock>Please search project from search box above</ng-template>
					</div>
					<div class="col-2">
						<div class="field">
							<label class="label">Search user</label>
							<input [(ngModel)]="user_q" (input)="searchUser()" class="input" type="text" placeholder="Search user">
						</div>
						<table *ngIf="usersSearchResult.length; else elseBlock" class="table has-alternate-bg" class="table has-alternate-bg">
							<thead>
								<tr>
									<th>ID</th>
									<th>Full Name</th>
									<th>Phone</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let u of usersSearchResult; let i=index">
									<td>{{ u.id }}</td>
									<td>{{ u.first_name + " " + u.last_name }}</td>
									<td>{{ u.phone }}</td>
									<td><button (click)="selectUser(i)" class="button" type="button">Select</button></td>
								</tr>
							</tbody>
						</table>
						<ng-template #elseBlock>Please search user from search box above</ng-template>
					</div>
				</div>
				<div class="field" style="margin-top: 1rem;">
					<div *ngIf="selectedProject">
						<label class="label"><strong>Selected project: {{ selectedProject.title }}</strong></label>
					</div>
					<div *ngIf="selectedUser">
						<label class="label"><strong>Selected user: {{ selectedUser.first_name + " " + selectedUser.last_name }}</strong></label>
					</div>
				</div>
				<div class="field" style="margin-top: 1rem;">
					<label class="label">Amount</label>
					<input [(ngModel)]="payment.amount" class="input" type="text" placeholder="Amount">
				</div>
				<button (click)="create()" class="button" type="button">Create</button>


			</div>
		</div>

	</div>
</div>
