<div class="dashboard">
	<app-sidebar></app-sidebar>
	<div class="dashboard-main">
		<app-header></app-header>
		<div class="dashboard-body">
			<div class="dashboard-body-title-wrapper">
				<div class="dashboard-body-title">
					<h1>Create Payment</h1>
					<div>
						<a routerLink="/payments" class="button is-primary">Back</a>
					</div>
				</div>
			</div>

			<div class="dashboard-content">

				<div class="row">
					<div class="col-1">
						<div class="field">
							<label class="label">Search project</label>
							<input class="input" type="text" placeholder="Search project">
						</div>
						<table class="table has-alternate-bg">
							<thead>
								<tr>
									<th>ID</th>
									<th>Projrct Name</th>
									<th>Client</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-2">
						<div class="field">
							<label class="label">Search user</label>
							<input class="input" type="text" placeholder="Search user">
						</div>
						<table class="table has-alternate-bg">
							<thead>
								<tr>
									<th>ID</th>
									<th>Full Name</th>
									<th>Phone</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
								<tr>
									<td>1</td>
									<td>Test</td>
									<td>8990900012</td>
									<td><button class="button" type="button">Select</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="field" style="margin-top: 10px">
					<label class="label">Amount</label>
					<input class="input" type="text" placeholder="Amount">
				</div>
				<button class="button" type="button">Create</button>


			</div>
		</div>

	</div>
</div>
