<table class="table has-alternate-bg">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Phone</th>
	    <th>Email</th>
	    <th>Role</th>
	    <th>Created At</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let u of userList">
	    <td><a routerLink="{{'/user/' + u.id +'/show'}}">{{ u.id }}</a></td>
	    <td>{{ u.first_name }}</td>
	    <td>{{ u.last_name }}</td>
	    <td>{{ u.phone }}</td>
	    <td>{{ u.email }}</td>
	    <td>{{ roleText(u.role) }}</td>
	    <td>{{ u.created_at }}</td>
	    <td><a routerLink="{{ '/user/' + u.id + '/edit' }}">Edit</a></td>
	  </tr>
	  
	</tbody>
</table>
<div style="margin-top: 1rem;">
	<div class="pagination">
	  <a (click)="prevPage()" class="pagination-prev">
	    <span class="icon">
	      <i class="ri-arrow-left-line"></i>
	    </span>
	  </a>
	  <a href="" class="pagination-page">
	    <span>{{ page }}</span>
	  </a>
	  <a (click)="nextPage()" class="pagination-next">
	    <span class="icon">
	      <i class="ri-arrow-right-line"></i>
	    </span>
	  </a>
	</div>
</div>